li
  a(href='#')
    | Inbox
    span.email-count (2)
li
  a(href='#') Important
li
  a(href='#') Sent
li
  a(href='#') Drafts
li
  a(href='#') Trash
li.pure-menu-heading Labels
li
  a(href='#')
    span.email-label-personal
    | Personal
li
  a(href='#')
    span.email-label-work
    | Work
li
  a(href='#')
    span.email-label-travel
    | Travel

